.user_circle {
	width: 45px;
	height: 45px;
	border-radius: 100%;
	overflow: hidden;
	background-color: #fff;
	justify-self: end;
}

.user_circle img {
	width: 45px;
	height: 45px;
}

.wrapper_usermenu {
	position: relative;
}

.user_icon {
	display: none;
}

@media (min-width: 1024px) {
	.user_icon {
		display: block;
	}
}