.modality_container {
	display: flex;
	flex-direction: column;
	gap: 25px;
}

.title_container {
	display: flex;
	align-items: center;
	gap: 10px;
}

.card_title {
	font-weight: 500;
	font-size: 30px;
	line-height: 55px;
	color: var(--blue-primary);
}

.separator {
	width: 100%;
	height: 1px;
	background: rgba(0, 152, 58, 0.3);
}

.description_container {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.subtitle {
	font-weight: 600;
	font-size: 20px;
	line-height: 25px;
	color: var(--blue-primary);
}

@media (min-width: 1024px) {

	.modality_container {
		position: unset;
	}

	.separator {
		width: 350px;
	}

}