.container_detail {
  position: relative;
  height: 217px;
}

.detail {
  background-image: url("../../../../assets/imgs/comparator_banner_mobile.webp");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  display: flex;
  align-items: flex-end;
  height: 100%;
}

.h2 {
  color: var(--white);
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
}

.h3 {
  color: var(--white);
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: -0.0325rem;
}

.p {
  margin-top: 1rem;
  color: var(--white);
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
  letter-spacing: 0.01rem;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 15px;
  z-index: 9;
}

.gradient {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 90%;
  background: linear-gradient(0deg, rgba(7, 7, 35, 0.50) -7.28%, rgba(25, 24, 79, 0.43) 53.06%, rgba(35, 34, 99, 0.00) 100%);
}

@media (min-width: 1024px) {
  .detail {
    background-position: center;
    background-image: url("../../../../assets/imgs/comparator_banner_desktop.webp");
  }

  .h2 {
    font-size: 2rem;
  }

  .h3 {
    font-size: 3.25rem;
  }

  .p {
    font-size: 1rem;
  }

  .container_detail {
    position: sticky;
    top: 81px;
    height: calc(100vh - 81px);
  }

  .card {
    height: 40%;
  }

  .detail {
    justify-content: center;
    /* display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 100%; */
  }

  .gradient {
    height: 70%;
  }
}
