.gender_container {
	cursor: pointer;
	display: flex;
	gap: 15px;
	border-radius: 0.25rem;
	border: 1px solid #667085;
	height: 50px;
	align-items: center;
	justify-content: center;
}

.gender p:nth-child(1) {
	margin-bottom: 10px;
}

.buttons {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 16px;
}

.active {
	border: 1px solid var(--green-primary);
}

.circle {
	display: flex;
	align-items: center;
	justify-content: center;
	background: rgba(0, 152, 58, 0.15);
	width: 25px;
	height: 25px;
	border-radius: 100%;
}

@media (min-width: 1024px) {

	.buttons {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-gap: 16px;
	}

	.gender_title {
		font-weight: 400;
		font-size: 18px;
		line-height: 25px;
		color: var(--textos);
		margin-bottom: 12px;
	}
}