.title {
    display: block;
	text-align: center;
	color: var(--blue-primary);
	font-weight: 700;
	font-size: 20px;
	line-height: 28px;
	padding: 0 40px;
}

.separator {
    width: 100%;
    background-color: #b5c9e8;
    height: 1px;
    margin: 8px 0;
}

.conitnue_btn {
    background-color: var(--green-primary);
    padding: 12px 6px;
    border-radius: 6px;
}

.email {
    margin: 10px 0;
    color: var(--blue-primary);
    font-weight: 700;
}

.container_btn {
    display: flex;
    justify-content: flex-end;
}