.image_container {
  width: 100%;
}

.image_container img {
  border-radius: 8px;
}

.description_container {
  z-index: 99;
  padding-left: 20px;
  padding-bottom: 20px;
}

.card_container {
  display: flex;
  align-items: center;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0px 4px 25px 0px rgba(35, 34, 99, 0.07);
  background-position: center;
  background-size: cover;
  position: relative;
}

.card_container::after {
  z-index: 9;
  content: "";
  position: absolute;
  width: 70%;
  height: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(90deg, #0d0c3c -7.28%, rgba(13, 12, 60, 0) 100%);
}

.card_container::before {
  z-index: 9;
  content: "";
  position: absolute;
  width: 70%;
  height: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(90deg, #0d0c3c -7.28%, rgba(13, 12, 60, 0) 100%);
}

.title {
  color: var(--white);
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
}

.description {
  color: var(--aplications-text-white, #fff);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  letter-spacing: 0.16px;
}

.group {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.description_container {
  max-width: 220px;
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem 0rem 2rem 0.7rem;
  align-items: flex-start;
}

@media (min-width: 1024px) {
  .title {
    font-size: 20px;
    line-height: 130%;
    align-self: stretch;
  }

  .description {
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0.16px;
    align-self: stretch;
  }

  .description_container {
    max-width: 300px;
    color: #fff;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-left: 1.5rem;
    padding-top: 3.5rem;
    align-items: flex-start;
  }

  .card_container {
    position: relative;
    height: 363px;
    flex-shrink: 0;
    background: #939db8;
  }

  .card_container::after {
    width: 57.8%;
  }

  .card_container::before {
    width: 57.8%;
  }
}
